In [87]:
import pandas as pd
import sqlite3

In [89]:
# retrieve the CSV data from my computer and create a pandas data frame
TEDSA = pd.read_csv('''/Users/Kate/Desktop/Python for Everybody Specialization/Course 5 - Capstone/Weeks 3, 5, 7 - Side project/TEDSA_2015_PUF.csv''')

In [90]:
# input the data into a SQL database
connection = sqlite3.connect("SIDEPROJECT.sqlite")  
cur = connection.cursor()

In [91]:
TEDSA.to_sql(name="TEDSA", con=connection) #, if_exists="append", index=False)

In [92]:
# now we have a sql database, we can delete the TEDSA dataframe to free up memory
del(TEDSA)

In [93]:
# create dictionaries for the numerical coding of data from SAMHDA data source
State_dict = {1:"Alabama",2:"Alaska", 4:"Arizona", 5:"Arkensas", 6:"California", 8:"Colorado", 9:"Connecticut",
             10:"Delaware", 11: "District of Columbia", 12: "Florida", 15:"Hawaii", 16:"Idaho", 17:"Illinois",
             18:"Indiana", 19:"Iowa", 21:"Kentucky", 22:"Louisiana", 23:"Maine", 24:"Maryland", 25:"Massachusetts",
             26: "Michigan", 27:"Minnesota", 28:"Mississippi", 29:"Missouri", 30:"Montana", 31:"Nebraska", 
             32:"Nevada", 33:"New Hampshire", 34:"New Jersey", 35:"New Mexico", 36:"New York", 37:"North Carolina",
             38:"North Dakota", 39:"Ohio", 40:"Oklahoma", 44:"Rhode Island", 46:"South Dakota", 47:"Tennessee",
             48:"Texas", 49:"Utah", 50:"Vermont", 51:"Virginia", 53:"Washington", 54:"West Virginia", 55:"Wisconsin",
             56: "Wyoming", 72:"Puerto Rico"}

In [94]:
# find all the states that are in the northeast region
cur.execute("SELECT STFIPS from TEDSA where REGION = 1 ORDER BY STFIPS")

column_northeast_state_codes = cur.fetchall() # this produces a list of tuples of type (n,)

for i in column_northeast_state_codes:
    if i[0] not in list_northeast_state_codes: 
         list_northeast_state_codes.append(i[0])
            
Northeast_state_names = list()

for code in list_northeast_state_codes:
    Northeast_state_names.append(State_dict[code])
    
print(Northeast_state_names)

['Connecticut', 'Maine', 'Massachusetts', 'New Hampshire', 'New Jersey', 'New York', 'Rhode Island', 'Vermont']

In [95]:
# Repeat for other regions (2 = Midwest, 3 = South, 4 = West, 0 = US Jurisdiction/Territory)

# Midwest
cur.execute("SELECT STFIPS from TEDSA where REGION = 2 ORDER BY STFIPS")

column_midwest_state_codes = cur.fetchall() 

list_midwest_state_codes = list()

for i in column_midwest_state_codes:
    if i[0] not in list_midwest_state_codes: 
         list_midwest_state_codes.append(i[0])
            
Midwest_state_names = list()

for code in list_midwest_state_codes:
    Midwest_state_names.append(State_dict[code])
    
print(Midwest_state_names)

['Illinois', 'Indiana', 'Iowa', 'Michigan', 'Minnesota', 'Missouri', 'Nebraska', 'North Dakota', 'Ohio', 'South Dakota', 'Wisconsin']

In [97]:
# South

cur.execute("SELECT STFIPS from TEDSA where REGION = 3 ORDER BY STFIPS")

column_southern_state_codes = cur.fetchall() 

list_southern_state_codes = list()

for i in column_southern_state_codes:
    if i[0] not in list_southern_state_codes: 
         list_southern_state_codes.append(i[0])
            
Southern_state_names = list()

for code in list_southern_state_codes:
    Southern_state_names.append(State_dict[code])
    
print(Southern_state_names)

['Alabama', 'Arkensas', 'Delaware', 'District of Columbia', 'Florida', 'Kentucky', 'Louisiana', 'Maryland', 'Mississippi', 'North Carolina', 'Oklahoma', 'Tennessee', 'Texas', 'Virginia', 'West Virginia']

In [96]:
# West

cur.execute("SELECT STFIPS from TEDSA where REGION = 4 ORDER BY STFIPS")

column_western_state_codes = cur.fetchall() 

list_western_state_codes = list()

for i in column_western_state_codes:
    if i[0] not in list_western_state_codes: 
         list_western_state_codes.append(i[0])
            
Western_state_names = list()

for code in list_western_state_codes:
    Western_state_names.append(State_dict[code])
    
print(Western_state_names)

['Alaska', 'Arizona', 'California', 'Colorado', 'Hawaii', 'Idaho', 'Montana', 'Nevada', 'New Mexico', 'Utah', 'Washington', 'Wyoming']

In [98]:
# US Jurisdiction/Territory

cur.execute("SELECT STFIPS from TEDSA where REGION = 0 ORDER BY STFIPS")

column_other_codes = cur.fetchall() 

list_other_codes = list()

for i in column_other_codes:
    if i[0] not in list_other_codes: 
         list_other_codes.append(i[0])
            
Other_names = list()

for code in list_other_codes:
    Other_names.append(State_dict[code])
    
print(Other_names)

['Puerto Rico']

In [99]:
 cur.execute("SELECT STFIPS,COUNT(CASEID) from TEDSA group by STFIPS")